

.questionFormSection
	background-color: #e8e8e8
	box-shadow: inset 0 0 6px rgba(0,0,0,.25)
	&__title
		background-color: $orange
		padding: 1.25rem  1.5rem 1.5rem
		color: $darkGray
		font-weight: 600
		@include breakpoint($xxs)
			font-size: 6vw
	border-bottom: 32.08649296159857963791px solid $cian

.questionFormContainer
	padding: 3rem 0 0
	@include breakpoint($xs)
		flex-direction: column
.footer, .copyright
	box-shadow: 0 -4px 30px rgba(0,0,0, .15)

.questionForm
	width: em(300)
	margin-left: span(1)
	margin-bottom: 3.5rem
	@include breakpoint($xs)
		margin-left: 0
		transform: translateY(-2.5em)
.container_footer
	min-height: em(255)
	max-width: em(1024)
	@include breakpoint($sm-less)
		padding: 0
.footerNavigationContainer
	height: 70%
	border: 0
	box-shdow: 0 0 2px 0 rgba(0,0,0,.25)
	height: em(330)
	@include breakpoint($xs)
		height: em(300)
.buttonsGroup, .searchForm, .brand, .contacts, .navigation
	&_footer,
		max-width: 	span(12)
		flex: 1 0 auto

.searchBlock_footer
	@extend %relative
	z-index: 1000

	@include breakpoint($sm-up)
		margin-top: 0
		margin-left: 0

.navigation_footer
	box-shadow: 0 0 3px rgba(0,0,0,.25)
	height: 100%
	position: static
	background-color: #fff
	border: 0 $i
	padding-top: 0

	@include breakpoint($xs)
		font-size: em(21)

.searchForm_footer
	min-width: span(8)
	@include breakpoint($xs)
		min-width: span(6)
		margin: 1em auto

.thirdFooterBlock, .footerNavigationContainer
	@include breakpoint($sm-less)
		min-width: span(6)
.firstFooterBlock, .thirdFooterBlock, .footerNavigationContainer
	min-width: span(4)
	@include breakpoint($xs)
		min-width: span(12)

.firstFooterBlock
    padding-right: 75px
	align-items: flex-end

	@include breakpoint($md)
		padding-left: 2em
	@include breakpoint($sm-less)
		display: none
	@include breakpoint($xs)
		order: 2
		display: block
	
	.buttonsGroup .callbackButtons
		margin-right: 0

.buttonsGroup_footer
	min-width: span(6.5)
	@include breakpoint($xs)
		height: em(85)
	@include breakpoint($xxs)
		height: auto
	& .callbackButtons, & .orderButtons
		padding-top: .5em
		padding-bottom: .5em
		@include breakpoint($xs)
			height: span(12)
		@include breakpoint($xxs)
			height: auto
.footerNavigationContainer
	@include breakpoint($sm-less)
		order: 2
		border-right: 0
		min-width: span(6)
	@include breakpoint($xs)
		border-left: 0
		min-width: span(12)


.thirdFooterBlock
	justify-content: space-between
	@include breakpoint($md-up)
		aling-items: flex-end
	@include breakpoint($sm-less)
		order: 1
	@include breakpoint($xs)
		flex-direction: column
		min-height: em(225)
		padding: 1.5rem 0 1rem



.brand, .contacts
	&_footer
		flex-grow: 0





.copyright
	background: $darkBlue
	color: $white
	padding: em(12) 0 em(20)
	&__paragraph
		font-size: 	em(16)
		&_refer
			// color: $white

				// color: $white
				// background-image: linear-gradient(to right,  0%, #403866 100%)
.contacts_footer
	margin-top: 1.5rem
.brand__name
	font-size: 	em(36)
.brand__slogan
	font-size: 	em(9)

.askedSuccessfull
	max-width: em(345)
	padding: 0 em(18)
	min-height: em(135)
	@extend %flyShadow
	background-color: $white
	border-radius: 3px
