
.searchButton, .menuButton
	border: 0
	padding: 0
	height: auto
.searchButton
	max-width: em(35)
	@extend %absolute
	min-width: auto
	right: 0
	top: .6em


	
.upper
	text-transform: uppercase
	letter-spacing: .12
.menuButton
	min-width: auto
	position: relative	
	z-index: 5
	transition: transform .4s
	will-change: transform
	
	&__text
		width: span(12)
		margin-top: em(3)

	&__bar
		width: em(55)
		margin: em(2.99) 0
		min-height: em(7)
		transition: .2s ease
		&_darkBlue
			max-width: span(8)
			background-color: $darkBlue
		&_cian
			max-width: span(10)
			background-color: $cian
		&_orange
			max-width: span(12)
			background-color: $orange
		&_cross
			&_right, &_left
				border-radius: 2px
				max-width: span(10)
				margin: .5em 0
			&_right
				transform: rotate(-45deg) translate(-.5em, .5em)
			&_left
				transform: rotate(45deg) translate(-.5em, -.5em)

		&_floor
			max-width: span(12)
	@include breakpoint($xs)
		transform: translate(300%, -100%)
	@include breakpoint($xxs)
		transform: translateY(0)
	&_close
		position: fixed
		@include breakpoint($sm)
			transform: translateX(50%)
		@include breakpoint($xs)
			top: 10%
			transform: translate(0%, -25%)
			right: 10%
.searchForm
	margin-top: 2rem
	@extend %relative


.infoHeaderBlock
	min-width: span(2.75)
	@extend %relative
	z-index: 2
	@include breakpoint($md-less)
		order: 3
		min-width: span(3.5)
	@include breakpoint($xs)
		min-width: span(5)
		// margin-top: em(32)
.contacts
	font-size: em(21)
	max-width: em(250, 18)
	@include breakpoint($md-less)
		max-width: span(12)

.contactsItem
	&__label
		color: $gray
.header
	@extend %relative
	padding: 1rem 0
	@include breakpoint($md-less)
		padding: em(16) 0
	& > .container
		max-width: em(1050)
		@include breakpoint($sm-less)
			margin: 0
			padding: 0	
			max-width: none
		@include breakpoint($xs)
			flex-direction: column


.navigation
	position: fixed	
	transition: transform .7s ease-in-out
	padding-bottom: 1em
	padding-top: 2em
	top: 0
	left: 0
	height: 100%
	width: 	100%
	transform: translateY(-100%)
	z-index: 3
	min-width: span(12)
	font-size: em(24)

	color: $gray
	background-color: #F2F2F2
	border-top: 1px solid $darkGray
	&_opened
		transform: translateY(0)
.navigationContainer
	max-width: span(2)
	@include breakpoint($xs)
		order: 2
		align-self: flex-end
		margin: 0 auto
	@include breakpoint($xxs)
		order: 1
		margin: 0 auto


.buttonsGroup
	max-width: em(218)
	z-index: 1
	&_header
		@include breakpoint($md)
			margin-left: auto
			margin-right: auto
		@include breakpoint($md-less)
			order: 2
	@include breakpoint($xs)
		display: flex
		flex-flow: row nowrap
		align-items: center
		justify-content: center
		min-width: span(12)
		max-height: em(77)
		flex-direction: row
		order: 4
		border: 1px solid $gray
		border-left: 0
		border-right: 0
		// padding: .5em 0
		box-sizing: content-box
		height: auto
	@include breakpoint($xxs)
		min-height: none
		flex-direction: column
		max-height: none

			
.infoHeaderBlock
	@include breakpoint($xs)
		transform: translateY(-25%)
	@include breakpoint($xxs)
		transform: translateY(0)
		margin: 1em auto 1.5em
.header 
	& .searchBlock
		margin-bottom: 0 
.searchBlock
	@extend %relative
	max-width: em(270)
	margin: 1rem auto 2rem
.result
	@extend %absolute
	top: 100%
	max-height: em(210)
	width: span(12)
	padding: .5em
	z-index: 100
	overflow-y: auto
	background: $white
	border-radius: 3px
	border: 1px solid $darkGray
	@extend %flyShadow

.resultSection
	// font-size: em(18)
	&:not(:first-of-type)
		margin-top: 1rem

.resultRefer
	// color: $cian $i
	// background-image: url()
.brand
	&, &:hover, &:focus
		background-image: none
	max-width: em(260)
	&_header
		@include breakpoint($md-less)
			max-width: em(265)
			order: 4
		@include breakpoint($xs)
			order: 1
			transform: translateX(-25%)
			max-width: em(300)
			align-self: flex-start
			margin: 0 auto
			max-height: em(70)
	@include breakpoint($xxs)
		transform: translateX(0)
		
	&__name
		font-size: em(28)
		@include breakpoint($md-less)
			font-size: 	em(36)
	&__slogan
		font-size: em(7)
		font-size: 	em(9)
	&__name, &__slogan
		font-weight: bold
		text-transform: none
.controller_search
	min-width: auto
	max-width: span(12)
.navList
	flex-wrap: nowrap

.navItem
	text-align: center
	font-size: em(21)
	font-weight: 800
	min-height: em(27, 21)
	&__refer
		&, &:hover
			background-image: none

	&:not(:first-of-type)
		margin-top: em(14, 21)
	&_active, &:hover
		& .navItem__refer_darkBlue
			color: $darkBlue
		& .navItem__refer_cian
			color: $cian
		& .navItem__refer_orange
			color: $orange


.orderButtons, .callbackButtons
	&_header
		margin-top: em(11) $i
	margin-bottom: 0
	@include breakpoint($xs)
		margin-top: 0
		width: em(250)
		padding: em(15)
	&__button
		margin-right: em(15)
.callbackButtons
	@include breakpoint($xs)
		border-right: 1px solid $gray
	@include breakpoint($xxs)
		border-right: 0
.callbackFigureButton, .quantityOrderedProductsButton
	background: transparent
	will-change: transform
	transition: transform .3s ease-in-out
.callbackFigureButton
	&:hover, &:focus
		transform: rotate(-360deg) scale(1.02)
.quantityOrderedProductsButton
	&:hover, &:focus
		transform: scale(1.04)







