.main
	padding: em(75) 0 em(90)
.catalogItem
	height: em(360)
	flex: 1 0 span(6)
	min-width: span(6)
	margin: 0 auto
	background: #EDEDED no-repeat center
	background-size: cover
	overflow: hidden
	@extend %relative
	cursor: pointer
	transition: box-shadow .3s ease

	&_sample
		// background-size: cover
		background-position: right top

	@include breakpoint($xs) 
		min-width: span(12)
	
	&:hover 
		// @extend %flyShadow
		z-index: 2
		& .table
			transform: translateY(-326%);
		& .catalogDescription, & .characteristics
			transform: translateY(0)
.catalogDescription, .table, .characteristics
	will-change: transform
.catalogDescription, .characteristics
	transition: transform .5s ease
	min-width: 	span(12)
	@extend %absolute
	padding:  0 em(24.29) em(29.39)
	// width: span(12)
	min-height: em(245.7, 16)
	bottom: 0
	transform: translateY(100%)
	background-color: $white

// Catalog
.catalogSection, .catalogSubsection
	max-width: em(960)
	width: span(12)
.catalogSubsection
	margin-top: 1.5rem
.catalogSection, .catalogSubsection
	&__title
		margin-bottom: 	1.5rem
		min-width: span(12)
.catalogHeader
	width: 	span(12)
	&__title
		min-height: em(65, 28)
		@include breakpoint($xs)
			min-width: span(6)
			flex-grow: 0
		&_catalog
			flex-basis: 30%
		&_active
			border-bottom: 1px solid $gray
			&:after
				top: 87.5% $i
		
			
	&__slogan
		margin-top: 0 $i
		font-weight: bold
		white-space: nowrap
		text-overflow: ellipsis
		overflow: hidden
		display: block
		text-align: right	
		@include breakpoint($xs)
			text-align: center
			border-bottom: 0 $i
		&_product
			@include breakpoint($xs)
				margin-top: em(16) $i
.catalogRefersList, .breadcrumbs
	order: -1
	margin: 0
.catalogRefersList, 
.breadcrumbs, 
.catalogHeader__slogan
	@include breakpoint($xs)
		min-width: span(12)
.catalogRefer, .breadcrumb
	margin: 0	
.catalogRefer
	margin-right: .1em
.breadcrumb, .catalogHeader__title_active
	@extend %relative
	&:after
		background-color: $darkGray
		content: ""
		@extend %absolute
		$squareSize: em(10)
		width: $squareSize
		height: $squareSize
		left: 48%
		top: 102%
		left: calc(50% - #{$squareSize / 3})
		top: calc(100% + #{$squareSize / 3})
		@extend %round
.breadcrumb, .catalogHeader__title
	&_active
		&:after
			background-color: $orange
.catalogRefersList, .catalogHeader__slogan, .breadcrumbs
	border-bottom: 	1px solid $gray
	padding-bottom: .5rem


.table
	// min-height: span(3)
	height: em(64.25)
	// padding: 1em 0 
	margin-top: 0
	margin-bottom: 0
	font-size: em(21)
	transition: transform .5s ease, box-shadow .3s ease, color .4s linear
	background-color: #dcdcdc
	z-index: 3
	&:hover, &:focus
		@extend %flyShadow
	&__refer
		display: block
		&, &:hover, &:focus
			background-image: none
		
	&_stretch, &__refer
		min-width: span(12)
	max-width: span(6)
	&_left
		justify-self: flex-start
		border-top-right-radius: 2px
	&_right
		justify-self: flex-end
		border-top-left-radius: 2px
	&_center
		border-radius: 2px 2px 0 0 
		justify-self: center

.main a:not(.table__refer)
	color: $cian
	background-image: linear-gradient(to right, $cian  0%, $cian 100%)
	
.aboutSection
	max-width: em(404)
	margin-top: em(41)
	&__title
		align-self: flex-start
	@extend %relative
	&_niceToMeetYou
		align-self: flex-start
	&_products
		align-self: center
		@include breakpoint($sm-less)
			align-self: flex-end
	&_design
		align-self: flex-end
		@include breakpoint($sm-less)
			align-self: flex-start
		
	&_exhebition
		align-self: center
		@include breakpoint($sm-less)
			align-self: flex-end
		
	&_bag
		align-self: flex-start
.main p
	font-size: em(18)
	max-width: 	em(525)
		
.aboutSectionImage
	
.contactsSection
	& > *
		flex: 1 0 3em
	&__title
		@include breakpoint($xxs)
			font-size: 	5vw
			flex-basis: 6em
.callbackButtons_stretched
	flex-basis: 15%
	@include breakpoint($xs)
		border: 0
.callbackButtons, .orderButtons
	// flex-basis: 10%
	margin: 0	
.orderButtons_stretch
	flex-basis: 10%
	margin-top: 1.5rem
.deploy
	@include breakpoint($xs)
		margin-top: em(12)
.map

	margin-top: em(10)
	&__title
		margin-bottom: em(10)
	&, & > iframe
		width: span(12)
	& > iframe
		box-shadow: 0 10px 15px $shadow
		border-radius: 2px
		max-height: em(350)
		height: span(12)


.catalogSection:first-of-type
	// margin-top: 0

.characteristics
	height: em(275)	
	
.zeroVerticalMargin
	margin-top: 0
	margin-bottom: 0
.sampleCharacteristic, .colorContainer, .characteristics, .sampleCharacteristic__characteristic
.sampleCharacteristic
	margin-top: em(9.11)
	&:not(&_colors)
		// transform: translateY(-240%)
	&_brand
		margin-top: em(29.777)
	&_colors
		transform: translateY(35%)
		min-width: span(4)
		align-self: flex-end
		flex-flow: column wrap
		align-items: flex-end
		// order: -1
	&__label
		text-align: right
		color: $gray
	&__characteristic
		font-weight: bold
.colors
	transform: translateY(-75%)
.colorContainer
	margin-left: em(10.12)
	&__color
		$squareSize: em(22.26)
		width: $squareSize
		height: $squareSize
	&__name
		opacity: 0
.addProductForm
	@include breakpoint($md-up)
		height: em(633)
	@include breakpoint($sm)
		height: em(666)
.catalogForm
	margin-top: 3rem
	background-color: #F2F2F2
	border-radius: 3px
	min-width: span(12)
	padding: em(34) em(37) em(100)
	@extend %relative
	@include breakpoint($xs)
		padding-bottom: em(168)
	@include breakpoint($xxs)
		padding: em(34) em(18) em(150)
	.controller
		// &_width, &_height, &_length, &_thickness

		align-self: flex-start
		& hr
			display: none
		& button
		&_small
			align-self: flex-end
			@include breakpoint($xs)
				order: -1	
			@include breakpoint($xxs)
				max-width: em(112)
			@include breakpoint($md-up)
				// transform: translate(-75%, -138%)
				transform: translate(-145%, -1.1em)
			@include breakpoint($sm)
				transform: translate(-37%, 108%)
			&:last-of-type
				@include breakpoint($sm)
					// transform: translate(-37%, 146%)
		&__input
			background-color: #BDBDBD $i
			border-color: $darkBlue