.main
	padding: em(67.772816512) 0 em(109.656417116416)
.fullWidth 
	width: span(12)
.productContainer
	margin-top: 2.125em

.slides
	position: relative
.catalogItem
	height: em(360)
	flex: 1 0 span(6)
	min-width: span(6)
	margin: 0 auto
	background: #EDEDED no-repeat center
	background-size: cover
	overflow: hidden
	@extend %relative
	cursor: pointer
	transition: box-shadow .3s ease
	// &:nth-child(3n+2) .table
	// 	background-color: $darkGray
	// 	& .table__refer
	// 		color: $white
	&_sample
		// background-size: cover
		background-position: right top

	@include breakpoint($xs) 
		min-width: span(12)
	
	&:hover 
		// @extend %flyShadow
		z-index: 2
		& .table, & .catalogDescription, & .characteristics
			transform: translateY(0);
		// & .catalogDescription, & .characteristics
			// transform: translateY(0)
.catalogDescription, .table, .characteristics
	will-change: transform
.cropedText
	overflow: hidden
	text-overflow: ellipsis
	display: flex
	display: -webkit-box
	-webkit-box-orient: vertical
	&_5
		-webkit-line-clamp: 5
		height: (5px * 1.5 * 18)



.catalogDescription, .characteristics
	box-shadow: inset 0 0 12px rgba(0,0,0, .15)
	transition: transform .5s ease
	min-width: 	span(12)
	// @extend %absolute
	margin-top: 0 $i
	padding:  0 1.5rem em(29.39)
	// width: span(12)
	min-height: em(245.7, 16)
	transform: translateY(100%)
	background-color: $white

.catalog
	position: relative
	&  > .container
		padding: 0
		@include breakpoint($xxs)
			padding: 0 1.5rem


// Catalog
.catalogSection, .catalogSubsection
	max-width: em(960)
	width: span(12)
.catalogSection
	margin-top: 3rem
	margin-bottom: 3rem
	border-raidus: 3px
	&__title
		border-top-color: $orange	


.catalogSubsection
	margin:	0
	&__title
		font-weight: 200
		border-top-color: $darkBlue
		padding-top: 4rem
.catalogSection, .catalogSubsection
	&__title
		// margin-bottom: 	1.5rem
		padding: 1.5rem
		border-top-width: em(4.74074074074074074074, 24)
		border-top-style: solid

		min-width: span(12)
.catalogHeader
	border-radius: 2px
	width: 	span(12)
	padding: 2rem 0 1.5rem
	&__title
		font-weight: bold
		min-height: em(65, 28)
		text-align: center
		padding: 0 1rem
		@include breakpoint($xs)
			max-width: em(384, 28)
			flex-grow: 1
			margin-top: 1.5rem
			margin-bottom: 0.5rem
		&_catalog
			flex-basis: 35%
			transform: translateY(12.5%)
			@include breakpoint($xs)
				transform: none
		&_active
			border-bottom: 1px solid $gray
			padding-bottom: 1rem
			&:after
				top: 90.5% $i
		
			
	&__slogan
		margin-top: 0 $i
		font-weight: bold
		white-space: nowrap
		text-overflow: ellipsis
		overflow: hidden
		display: block
		text-align: right	
		padding-right: 1rem
		padding-left: 1rem
		@include breakpoint($xs)
			text-align: center
			border-bottom: 0 $i
		&_product
			@include breakpoint($xs)
				margin-top: em(16) $i
.catalogRefersList, .breadcrumbs
	order: -1
	margin: 0
.catalogRefersList, 
.breadcrumbs, 
.catalogHeader__slogan
	font-weight: 200
	@include breakpoint($xs)
		min-width: span(12)
.catalogRefer, .breadcrumb
	margin: 0	
.catalogRefer
	margin-right: .1em
.breadcrumb, .catalogHeader__title_active
	@extend %relative
	&:after
		background-color: $darkGray
		content: ""
		@extend %absolute
		$squareSize: em(10)
		width: $squareSize
		height: $squareSize
		left: 48%
		top: 102%
		left: calc(50% - #{$squareSize / 3})
		top: calc(100% + #{$squareSize / 3})
		@extend %round
.breadcrumb, .catalogHeader__title
	&_active
		&:after
			background-color: $orange
.catalogRefersList, .catalogHeader__slogan, .breadcrumbs
	border-bottom: 	1px solid $gray
	padding-bottom: .5rem


.table
	// min-height: span(3)
	height: em(65)
	// padding: 1em 0 
	margin-top: 0
	margin-bottom: 0
	font-size: em(21)
	transition: transform .5s ease, box-shadow .3s ease, color .4s linear
	background-color: rgba(255,255,255,.8)
	transform: translateY(324%)
	z-index: 3
	
	&:hover, &:focus
		@extend %flyShadow
	&__refer
		// display: block
		height: 100%
		&, &:hover, &:focus
			background-image: none
		
	&_stretch, &__refer
		min-width: span(12)
	max-width: span(6)
	&_left
		justify-self: flex-start
		border-top-right-radius: 2px
	&_right
		justify-self: flex-end
		border-top-left-radius: 2px
	&_center
		border-radius: 2px 2px 0 0 
		justify-self: center

.main a:not(.table__refer)
	color: $cian
	background-image: linear-gradient(to right, $cian  0%, $cian 100%)
	
.aboutSection
	max-width: em(404)
	border-top: 6px solid
	
	margin-top: 3rem
	border-radius: 3px
	background-color: #fff
	padding: 1.5rem 1.5rem 2.5rem
	&:even
		border-color: $cian
	&:odd
		border-color: $darkBlue
	@include breakpoint($xs)
		padding-top: 2.5rem
	@include breakpoint($xxs)
		width: 90%
		margin: 3rem auto 0
	&__title
		align-self: flex-start
		@include breakpoint($xs) 
			margin-top: 1.5rem
	@extend %relative
	&_niceToMeetYou
		align-self: flex-start
	&_products
		align-self: center
		@include breakpoint($sm-less)
			align-self: flex-end
	&_design
		align-self: flex-end
		@include breakpoint($sm-less)
			align-self: flex-start
		
	&_exhibition
		align-self: center
		@include breakpoint($sm-less)
			align-self: flex-end
		
	&_bag
		align-self: flex-start
.main p
	font-size: em(18)
	max-width: 	em(525)
		
.aboutSectionImage
	
.contactsSection
	& > *
		flex: 1 0 auto
		margin-top: 1.5rem $i
	&__title
		@include breakpoint($xxs)
			font-size: 	5vw
			flex-basis: 6em
.callbackButtons_stretched
	flex-basis: 15%
	@include breakpoint($xs)
		border: 0
.callbackButtons, .orderButtons
	margin: 0	
	@include breakpoint($xxs)
	    margin-top: 0 $i
.orderButtons_stretch
	flex-basis: 10%
	margin-top: 1.5rem
.deploy
	@include breakpoint($xs)
		margin-top: em(12)
.map

	margin: 3rem 0 $i
	&__title
		margin-bottom: em(10)
	&, & > iframe
		width: span(12)
	& > iframe
		box-shadow: 0 10px 15px $shadow
		border-radius: 2px
		max-height: em(350)
		height: span(12)


.catalogSection:first-of-type
	// margin-top: 0

.characteristics
	height: em(275)	
	&_static
		position: static
		background: $darkGray
		height: auto
		padding: 0 0 1.5rem 0
		min-height: auto
		&, &:hover, &:focus
			transform: none
		& .sampleCharacteristic_colors
			// margin-top: 0
			transform: none
			& .sampleCharacteristic__characteristic
				transform: translateY(-100%)
		& .moreRefer
			display: none


.zeroVerticalMargin
	margin-top: 0
	margin-bottom: 0
.sampleCharacteristic, .colorContainer, .characteristics, .sampleCharacteristic__characteristic
.sampleCharacteristic
	margin-top: em(9.11)
	&:not(&_colors)
		// transform: translateY(-240%)
	&_brand
		margin-top: em(29.777)
	&_colors
		transform: translateY(35%)
		min-width: span(4)
		align-self: flex-end
		flex-flow: column wrap
		align-items: flex-end
		position: absolute
		max-width: 33%
	&__label
		text-align: right
		color: $gray
	&__characteristic
		font-weight: bold
.colors
	// transform: translateY(-75%)
.colorContainer
	margin-left: em(10.12)
	&__color
		$squareSize: em(22.26)
		width: $squareSize
		height: $squareSize
	&__name
		opacity: 0

.addProductForm
	&Container
		margin: 2rem 0 1.5rem
	@include breakpoint($xs)
		flex-direction: column
.catalogForm
	// margin-top: 3rem
	background-color: #F2F2F2
	border-radius: 3px
	min-width: span(12)
	padding: em(34) em(37) em(150)
	@extend %relative
	@include breakpoint($xs)
		// padding-bottom: em(152)
		
		
	@include breakpoint($xxs)
		padding: em(34) em(18) em(150)
	.controller

		@include breakpoint($md-up)
			
		@include breakpoint($sm)
			
		& hr
			display: none
		& button
		&_small
			// align-self: flex-end
			@include breakpoint($xs)
				// order: -1	
				// transform: translateX(80%)
				// align-self: flex-start
			@include breakpoint($xxs)
				max-width: em(112)
			@include breakpoint($md-up)
				// transform: translate(-75%, -138%)
				// transform: translate(-14em, -.75em) // 145%,
			@include breakpoint($sm)
				// transform: translate(-6em, 13.5em)
			&:last-of-type
				@include breakpoint($sm)
					// transform: translate(-37%, 146%)
		&__input
			background-color: #BDBDBD $i
			border-color: $darkBlue
.proportionFields, .selectFields
	flex-wrap: nowrap
	@include breakpoint($xs)
		min-width: span(12)

.proportionFields
	order: 2
	@include breakpoint($xs)
		// transform: translateX(-5em)
		align-items: flex-start
		width: em(305)
		margin-top: 1.5rem
		min-width: fit-content;
		order: -1
.proportionFields, .formButton_product
	@include breakpoint($xs)
.formButton_product
	@include breakpoint($xs)
		transform: translateX(-5.75em)
		left: auto
	@include breakpoint($xxs)
		transform: none
.selectFields
	& .controller
		&:first-of-type
			margin-top: 1rem
	@include breakpoint($xs-up)
		margin-right: em(41.886784)
.productContent 
	margin-top: 3rem
	padding-bottom: 4rem
	& * + *
		margin-top:  1.5rem
		&:not(p):not(img)
			margin-top:  3rem
			margin-bottom: 3rem