{
  "cacheDirectory": true,
  "presets": [
    "@babel/preset-env",
    "@babel/react"
  ],
  "plugins": [
      ["fast-async", { "spec": true }],
      "@babel/plugin-proposal-class-properties",
      "@babel/plugin-transform-react-constant-elements",
      "@babel/plugin-proposal-object-rest-spread",
      "@babel/plugin-syntax-dynamic-import",
      "@babel/plugin-syntax-function-bind",
      "@babel/plugin-transform-react-jsx-source",
      "@babel/plugin-transform-react-jsx",
      "@babel/plugin-proposal-decorators",
      ["@babel/plugin-transform-runtime", {
        "helpers": false,
        "regenerator": true
      }]
  ]
}
