{
  	"plugins": [
    	"transform-class-properties",
        "transform-decorators-legacy",
        "transform-object-rest-spread",
       	"transform-react-jsx-source",
        "transform-function-bind"
	],
 	"presets": [
 		[
 			"env",
 			{
        	"loose": true
      		}
      	],
      	"react", "stage-1",
    ]
}
