// $figures: ('shopping-bag', 'shopping_bag.png', 512, 512, em(56, 21), true), ('callback', 'callback.png', 512, 512, em(101, 21), true),  ('contacts', 'contacts.png', 512, 512, em(87, 21), true), ('callback_name', 'white_user.png', 512, 512, em(33, 21), true), ('callback_phone', 'white-phone.png', 512, 512, em(35, 21), true), ('full_name', 'user.png', 512, 512, em(35, 21), true), ('email', 'envelope.png', 512, 512, em(35, 21), true);


// @each $name, $url, $height, $width, $max-width, $isIcon in $figures 
	
// 	@include adaptiveImage($name, $max-width, adaptive($width, $height), $url, $isIcon)

.imageContainer
	// margin-top: 1rem
	// margin-bottom: 	1rem
	z-index: 1
	&__image
		// margin-top: 1.5rem
		// margin-bottom: 	1.5rem
		&_sample
			margin-top: 0

	&_sample, &_product
		@extend %absolute
		top: 0
		right: 0
		z-index: 0
 	&_product

	&_maria
		align-self: flex-end
		margin-right: span(1)
		margin-bottom: 	0
		@include breakpoint($xs) 
			align-self: center
			max-width: em(171) $i
			margin-right: 0
	&_brand
		margin-right: em(18)
	&_niceToMeetYou, &_design, &_products, &_exhibition, &_bag
		// height: span(12)
		@extend %absolute
		@include breakpoint($xs)
			order: -1
			position: static
	&_niceToMeetYou, &_design
		@include breakpoint($md-up)
			opacity: 0
	&_niceToMeetYou
		@include breakpoint($sm-less)
			left: 110%
			top: 20%
			transform: rotate(25deg)
		@include breakpoint($xs)
			align-self: flex-end
			transform: transitionY(50%)
	&_products

		@include breakpoint($md-up)
			left: 80%
			bottom: 50%
			max-width: em(327.49) $i
			transform: rotate(25deg)
		@include breakpoint($sm-less)
			right: 110%
			transform: rotateY(180deg) rotate(25deg)
			top: 10%
	&_design
		left: 110%
		top: 5%
	&_exhibition
		@include breakpoint($md-up)
			max-width: em(375) $i
		@include breakpoint($sm-less)
			max-width: em(222)
		right: 110%
		top: 0

	&_bag
		@include breakpoint($md-up)
			transform: translateX(15%)
			left: 100%
		@include breakpoint($sm-less)
			left: 80%
			max-width: em(372)
		top: -20%
	&_contacts, &_service
		order: -1
		margin-right: em(16, 28)
.imageContainer__image_exhibition
	@include breakpoint($md-up)
		transform: translate(40%, -125%)